html * {
  font-family: monospace !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body.dark {
  background-color: #1f2023;
  color: #dadada;
}

.title {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}

.signature {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.25rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  font-size: small;

  .signature-line {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    &.disclaimer-line {
      font-weight: bold;
      margin-bottom: 0.25rem;
    }

    &.support-line {
      font-size: 0.75rem;
      opacity: 0.8;
      color: #fff;
    }

    .github-logo {
      font-size: 14px;
    }
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    text-decoration: underline;
  }
}

[data-theme='dark'] {
  .signature>a {
    color: lightskyblue;
  }
}

.donate-input {
  max-width: 10rem;
}